<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<header>
		<h1>Text Classification</h2>
	</header>

	<div class="model-nav">
		<ul>
			<li name="sentiment" class="active">Sentiment Analysis</li>
			<li name="sarcasm">Sarcasm Detection</li>
		</ul>
	</div>

	<div class="wrapper">
		<div class="input">
			<textarea id="text_input" placeholder="Interpret text" autofocus></textarea>
		</div>
		<div class="module">
			<div class="module_title">Prediction</div>
			<div id="place_for_prediction"></div>
		</div>
	</div>

	<div class="wrapper">
		<div class="module">
			<div class="module_title">Interpretation</div>
			<div id="place_for_interpretation"></div>
		</div>
		<div class="module">
			<div class="module_title">Top 10 tokens</div>
			<div id="place_for_topk"></div>
		</div>
	</div>

	<!-- Load scripts locally instead of online -->
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->

	<script>
	function interpret_text(model, text) {
		$.ajax({
			url: "/predict",
			type: "GET",
			data: {model: model, text: text},
			success: function(response) {
				$("#place_for_prediction").html(response);
			},
			error: function(xhr) {
				//Do Something to handle error
			}
		});
		$.ajax({
			url: "/interpret",
			type: "GET",
			data: {model: model, text: text},
			success: function(response) {
				$("#place_for_interpretation").html(response);
			},
			error: function(xhr) {
				//Do Something to handle error
			}
		});
		$.ajax({
			url: "/topk",
			type: "GET",
			data: {model: model, text: text},
			success: function(response) {
				$("#place_for_topk").html(response);
			},
			error: function(xhr) {
				//Do Something to handle error
			}
		});
	}

	// Load model
	$('.model-nav li').on('click', function(){
		$('li.active').removeClass('active'); // to remove the current active tab
		$(this).addClass('active'); // add active class to the clicked tab
		var text = $("#text_input").val();
		var model = $(".model-nav li.active").attr("name");
		interpret_text(model, text);
	});

	// Source: https://stackoverflow.com/questions/1909441/how-to-delay-the-keyup-handler-until-the-user-stops-typing
	function delay(callback, ms) {
		var timer = 0;
		return function() {
			var context = this, args = arguments;
			clearTimeout(timer);
			timer = setTimeout(function () {
				callback.apply(context, args);
			}, ms || 0);
		};
	}

	// Source: https://stackoverflow.com/questions/40963401/flask-dynamic-data-update-without-reload-page
	$("#text_input").keyup(delay(function(){
			var text = $(this).val();
			var model = $(".model-nav li.active").attr("name");
			interpret_text(model, text);
	}, 500));
	</script>

</body>
</html>
