<div>{{ interpretation['pred'] }}</div>
<div>{{ interpretation['text'] }}</div>
<h4>Compact View:</h4>
<p>
{% for token, score, sentiment in interpretation['compact_interpret'] %}
	{% if sentiment == "neutral" %}
	<div class="tooltip">
		<span class="neutral">{{ token }}</span>
	</div>
	{% else %}
	<div class="tooltip">
		<span class="box {{ sentiment }}">{{ token }}</span>
		<span class="tooltiptext">{{ score }}</span>
	</div>
	{% endif %}
{% endfor %}
</p>

<h4>Expanded View:</h4>
<p>
{% for token, score, sentiment in interpretation['expanded_interpret'] %}
	{% if sentiment == "neutral" %}
	<div class="tooltip">
		<span class="neutral">{{ token }}</span>
	</div>
	{% else %}
	<div class="tooltip">
		<span class="box {{ sentiment }}">{{ token }}</span>
		<span class="tooltiptext">{{ score }}</span>
	</div>
	{% endif %}
{% endfor %}
</p>
